.hero {
    background-image: url("../../images/hero/Picture@1x.jpg");
    background-size: cover;
    background-position: center;
    padding: 37vh 0 37vh 4.4vw;
}

.titleHero {
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    color: #f7f7f7;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 2.3vh;
}

.descriptionHero {
    color: #f7f7f7;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 5.7vh;
}

.viewNow {
    display: flex;
    width: 173px;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: center;
    align-items: center;
    background-color: #e44848;
    border-radius: 200px;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.08px;
    transition: background-color 0.3s ease;
}

.viewNow:hover,
.viewNow:focus {
    background-color: #d84343;
}